<div class="">
    <div class="main-menu-header">
        <img class="img-40 img-circle" src="~/images/ropic.JPG" alt="User-Profile-Image">
        <div class="user-details">
            <span>Ro Stewart Abacial</span>
            <span id="more-details">Software Engineer</span>
        </div>
    </div>
</div>