@{
    ViewData["Title"] = "Home";
}

<div class="card">
<div class="card-header">
<h3>Hello, Outdesk</h3>
<div class="card-header-right">
<i class="icofont icofont-rounded-down"></i>
<i class="icofont icofont-refresh"></i>
<i class="icofont icofont-close-circled"></i>
</div>
</div>
<div class="card-block">
<ul>
    <li> - Implemented The Required Implementation</li>
    <li> - Applied the CQRS Pattern also use Mediator</li>
    <li> - Applied the SOLID Principles</li>
</ul>



<p>PS: Hoping for a nice feedback and also have fun implemnting the exam. Thank You.</p>
</div>
</div>